{% extends 'home.html' %}
{% block content %}
<table>
    <th>Name:</th><th>Price:</th><th>Available:</th>
    {% for sauce in sauces %}
    <tr>
        <td>{{sauce.name}}</td>
        <td>{{sauce.price}}</td>
        <td>{{sauce.available}}</td>
        <td>
            <form action="/editsauce/{{ sauce.id }}">
                <input type="submit" value="Edit" />
            </form>
        </td>
        <td>
            <form action="/delete-sauce/{{ sauce.id }}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<form action="/addsauce/">
    <input type="submit" value="Add new sauce" />
</form>
{% endblock %}