{% extends 'home.html' %}
{% block content %}
<table>
    <th>Name:</th><th>Toppings:</th><th>Price:</th><th>Available:</th>
    {% for pizza in pizzas %}
    <tr>
        <td>{{pizza.name}}</td>
        <td>{% for topping in pizza.toppings.all %} {{topping}}, {% endfor %}</td>
        <td>{{pizza.price}}</td>
        <td>{{pizza.available}}</td>
        <td>
            <form action="/editpizza/{{ pizza.id }}">
                <input type="submit" value="Edit" />
            </form>
        </td>
        <td>
            <form action="/delete-pizza/{{ pizza.id }}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<form action="/addpizza/">
    <input type="submit" value="Add new pizza" />
</form>

{% endblock %}